html {
    
background-image: url("./img/recursos/met2tek.jpg");
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    box-shadow: 0 0 9;
    
    
}

body{
background-color: rgba(255,255,255,0.6);
   
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 00 auto;
    max-width: 1100px;
    padding: 2em 2em 4em;
} 

.titulo1{text-align: center;
    color: red;
}

.titulo2{ text-align: center;
    color: red;
    margin-top: 200;
    
}

 .menu{border: 3px solid rgb(255,255,255);
     text-align: center;
background-color: rgb(83,83,83);
     margin: 0 auto;
     max-width: 300;
     padding:2em 2em 2em
}
.lista{
    
    color: yellow
}

.persona{border: 3px solid rgb(255,255,255);
    
    background-color: rgb(83,83,83);
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    font size: 100;
color: white}

   
.pie{
    margin-top: 200;
   text-align: center;
    color: yellow;
    
}