html {
    
background-image: url("./img/recursos/met2tek.jpg");
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    box-shadow: 0 0 9;
    
    
}

body{
background-color: rgba(255,255,255,0.6);
   
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 00 auto;
    max-width: 1100px;
    padding: 2em 2em 4em;
} 
 
.cabecera{
    text-align: center;
    color: #fff;
}

#menu{
    margin: 0;
    
    
}

#menu li{
    
    display: inline;
}

#menu li a{
    
    border: 1px solid #fff;
    margin: 0;
    background-color: rgb(83,83,83);
    font-family: Arial;
    font-size: 20px;
    float: left;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    box-shadow: 10px 10px 5px #888888;
}
#menu li a:hover{
    
    background-color: black;

    
}
    
    

.texto{
    
    border: 3px solid #fff;
    background-color: rgb(83,83,83);
    color: #fff;
    padding: 40;
    margin-top: 200;
    box-shadow: 10px 10px 5px #888888;
}


.caption{
    
    padding: 0 ;
    width: 100%;
    position: relative;
}

.caption img{
    
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    border: 0;
}

.caption::before {
content: attr(title);
position: absolute;
background: rgba(83, 83, 83, 0.6); 
color: #fff;
font-size: 14px; 
padding: 5px;
right: 0;
bottom: 0;
left: 0;
text-align: center;
}









    
    
    
    
    
    